/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.02.2018, 00:10:01
    Author     : Daniel Schäfer
*/

#LoginButton {
    -fx-background-color:  #007399;
    -fx-text-fill: #FFFFFF;
    -fx-stroke: #FFFFFF;
    -fx-opacity: 0.9;
}

#LoginButton:hover{
    /*-fx-background-color: #328fad;*/
    -fx-opacity: 0.7;
}

#LoginButton:pressed{
    -fx-opacity: 1;
}

#PasswordField{
    -fx-background-color:  transparent;
}

#AnchorPane{
    -fx-background-color:  #EEEEEE;
}

#PasswordLabel{
    -fx-text-fill: #007399;
}
