/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.02.2018, 23:30:17
    Author     : schae
*/


.text-field{
    -fx-background-color: transparent;
}

.button{
    -fx-background-color: #007399;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.button:hover{
    -fx-opacity: 0.7;
}

.button:pressed{
    -fx-opacity: 1.0;
}

.button:disabled{
    -fx-opacity: 0.3;
}


.combo-box{
    -fx-font-family: 'Roboto';
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-background-insets: 0;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );*/
}    

.combo-box-popup .list-view .list-cell {
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    /*-fx-background: -fx-accent;*/
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: #EEEEEE;
    -fx-text-fill: black;
}

.combo-box-base  {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.combo-box-base:hover{
    -fx-background-color: transparent;
}

.combo-box-base:showing {
    -fx-color: blue;
}

.combo-box-base:focused {
    -fx-border-color: transparent;
}

.combo-box-base:disabled {
    -fx-opacity: 0.4;
}

#languageLabel{
    -fx-font-family: 'Roboto';
    -fx-text-fill: #007399;
    -fx-font-size: 12;
}

.tab-header-background{
    -fx-background-color: #FAFAFA;
}

.tab{
    -fx-background-color: transparent;
}

.focus-indicator{
    -fx-border-color: transparent;
}

.tab:selected .tab-label{
    -fx-text-fill: #007399;
    -fx-font-size: 14;
}
.tab .tab-label{
    -fx-text-fill: #757575;
    -fx-font-size: 14;
}

.tab:selected:top{
    -fx-border-color: #007399;
    -fx-border-width: 0 0 2 0;
}


.check-box .box{
    -fx-background-color: #007399;
}

.check-box .mark {
    -fx-shape:"M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z";
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.check-box:selected .mark{
    -fx-background-color: white;
}


#pathLabel{
    -fx-text-fill: #007399;
    -fx-font-size: 12;
}

#dateFormatLabel{
    -fx-text-fill: #007399;
    -fx-font-size: 12;
}

#databasePathBox:disabled{
    -fx-fill: #E6E6E6;
}

#databasePathRectangle:disabled{
    -fx-fill: transparent;
    -fx-stroke: transparent;
}